<p id="notice"><%= notice %></p>

<p>
  <strong>Teitle:</strong>
  <%= @task.teitle %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @task.detail %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
